:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --prosperity-yellow: #FCFF52;
  --gypsum: #FCF6F1;
  --sand: #E7E3D4;
  --wood: #655947;
  --fig: #1E002B;
  --disabled: #9B9B9B;
  --foreground-rgb: var(--fig);
  --button-hover: var(--prosperity-yellow);
  --background-start-rgb: var(--sand);
  --background-end-rgb: var(--sand);

  --outline-color: var(--wood);

  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--gypsum);
    --background-start-rgb: var(--fig);
    --background-end-rgb:  var(--fig);
    --button-hover: var(--wood);

    --outline-color: var(--prosperity-yellow);

    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:active, :focus, :focus-visible {
  outline-width: 1px;
  outline-offset: 1px;
  outline-color: var(--outline-color);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #000;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb)
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

label {
  font-size: 1.2rem;

}

input {
  font-size: large;
  padding: 0.45rem .5rem;
  border: .1rem solid  var(--foreground-rgb);
  background-color: transparent;
  border-radius: 2.4rem;
}

button {
  color: var(--foreground-rgb);
  font-size: 1.25rem;
  border: .1rem solid  var(--foreground-rgb);
  border-radius: 2.4rem;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
}

button:hover {
  background-color: var(--button-hover);
}

button[disabled]:hover {
  background-color: inherit;
  color:var(--disabled)
}