.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.intro {
  max-width: 420px;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  text-align: left;
  font-size: 1rem;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h3 {
  font-weight: 500;
  margin-bottom: 0.7rem;
  display: inline-flex;
}

.card h3 img {
  margin-right: 0.5rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.card h3 span {
    margin-left: 4px;
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    max-width: 100%;
  }

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  opacity: 90%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 320px;
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h3 {
    margin-bottom: 0.5rem;
  }

  .intro {
    text-align: center;
  }

  .logo {
    position: static;
    display: flex;
    align-self: center;
    margin-left: -5%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
