.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  row-gap: 1rem;
  padding-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  padding-right: 2rem;
  max-width: 100%;
  gap: 1rem;
}

.grid > :first-child {
  grid-column: span 4;
}
.grid > :first-child p {
  max-width: 100%;
}

.card {
  text-align: left;
  padding: 1rem 1.2rem;
  width: 100%;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h3 {
  font-weight: 500;
  margin-bottom: 0.7rem;
  display: inline-flex;
}

.card h3 img {
  margin-right: 0.5rem;
}

.card p {
  margin: 0;
  opacity: 0.85;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-align: left;
}

.card h3 span {
  margin-left: 4px;
}

.switchNetwork {
  text-decoration: underline dotted;
  text-underline-offset: 3px;
}
.switchNetwork:hover {
  text-decoration: underline;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 100%;
    gap: 1rem;
    padding-right: 0rem;
  }

  .grid > :first-child {
    grid-column: span 1;
  }

  .grid a,
  .grid button {
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h3 {
    margin-bottom: 0.5rem;
  }

  .container {
    flex: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1600px) {
  .main {
    padding: 1rem;
    justify-content: unset;
  }
  .grid {
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    gap: 1rem;
    padding-right: 1rem;
  }

  .grid > :first-child {
    grid-column: span 2;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
